{% extends 'base.html.twig' %}

{% block body %}

{#  Home for visitor not connected
Code hidden waiting for the login system #}
<div {{ react_component('Hero', 
    {
        title:'Bienvenue sur MaReco !',
        content: 'Partage tes découvertes et tes coups de coeurs avec tes amis et découvre leurs reco !',
        button: 'Commencer à partager !',
        image: asset('build/images/hero.png')
    }
      ) }}>
</div> 

{# todo: restricted area only for connected user #}

<h2 class="text-4xl font-bold">Les dernières recommandations</h2>


{% endblock %}
