{% extends 'base.html.twig' %}

{% block body %}

{#  Home for visitor not connected
Code hidden waiting for the login system #}
<div {{ react_component('Hero', 
    {
        title:'Bienvenue sur MaReco !',
        content: 'Partage tes découvertes et tes coups de coeurs avec tes amis et découvre leurs reco !',
        button: 'Commencer à partager !',
        image: asset('build/images/hero.png'),
        imageAlt: 'logo MaReco',
    }
      ) }}>
</div> 

{# todo: restricted area only for connected user #}



<div class="max-w-6xl w-2/3 mx-auto p-4">
    <h2 class="font-bold text-4xl my-4">Les Dernières Recos</h2>
    <div {{react_component('RecoList', {recos : recos}
    )
    }}>
    </div>
</div>

{% endblock %}
